In [2]:
#Q1-Machine Learning

 Question: 1

1. Imagine you have a dataset where you have different Instagram features like u sername , Caption , Hashtag , Followers , Time_Since_posted , and likes , now your task is to predict the number of likes and Time Since posted and the rest of the features are your input features. Now you have to build a model which can predict the number of likes and Time Since posted. 
Dataset This is the Dataset You can use this dataset for this question.

In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [10]:
data=pd.read_csv("instagram_reach.csv")

In [11]:
data

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [12]:
data.drop(['S.No','Unnamed: 0'],axis=1,inplace=True)

In [13]:
data

,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...
95,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USERNAME           100 non-null    object
 1   Caption            94 non-null     object
 2   Followers          100 non-null    int64
 3   Hashtags           100 non-null    object
 4   Time since posted  100 non-null    object
 5   Likes              100 non-null    int64
dtypes: int64(2), object(4)
memory usage: 4.8+ KB

In [15]:
data.isna().sum()

USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [16]:
data.columns

Index(['USERNAME', 'Caption', 'Followers', 'Hashtags', 'Time since posted',
       'Likes'],
      dtype='object')

In [17]:
X = data[['USERNAME', 'Caption', 'Followers', 'Hashtags']]
y_like = data['Likes']
y_time = data['Time since posted']

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_like_train, Y_like_test, Y_time_train, Y_time_test = train_test_split(X,y_like,y_time,random_state=21,test_size=0.2)

In [19]:
print(f"X_train shape = {X_train.shape}")
print(f"X_test shape = {X_test.shape}")
print(f"Y_like_train shape = {Y_like_train.shape}")
print(f"Y_like_test shape = {Y_like_test.shape}")
print(f"Y_time_train shape = {Y_time_train.shape}")
print(f"Y_time_test shape = {Y_time_test.shape}")

X_train shape = (80, 4)
X_test shape = (20, 4)
Y_like_train shape = (80,)
Y_like_test shape = (20,)
Y_time_train shape = (80,)
Y_time_test shape = (20,)

In [20]:
from sklearn.preprocessing import LabelEncoder
# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical variables
X_train_encoded = X_train.copy()
X_test_encoded = X_test.copy()


for col in X_train.columns:
    X_train_encoded[col] = label_encoder.fit_transform(X_train[col])
    

for col in X_test.columns:
    X_test_encoded[col] = label_encoder.fit_transform(X_test[col])

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

# Likes prediction

In [22]:
# For Likes prediction
lr = LinearRegression()
lr.fit(X_train_encoded, Y_like_train)
likes_predictions = lr.predict(X_test_encoded)

mse = mean_squared_error(Y_like_test, likes_predictions)
rmse = np.sqrt(mse)
r2 = r2_score(Y_like_test, likes_predictions)

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R²):", r2)

Mean Squared Error (MSE): 6809.062884267752
Root Mean Squared Error (RMSE): 82.51704602242953
R-squared (R²): -0.9056777657870472

# Time Since Posted Prediction

In [24]:
# Extract the numeric value from the 'time' column
Y_time_train = Y_time_train.str.extract('(\d+)', expand=False).astype(int)
Y_time_test = Y_time_test.str.extract('(\d+)', expand=False).astype(int)

print(Y_time_train)
# print(Y_time_test)

19    4
1     2
3     3
16    4
17    4
     ..
48    3
4     3
56    2
79    2
73    2
Name: Time since posted, Length: 80, dtype: int32

In [25]:
lr = LinearRegression()
lr.fit(X_train_encoded, Y_time_train)
posted_time_prediction = lr.predict(X_test_encoded)

mse = mean_squared_error(Y_time_test, posted_time_prediction)
rmse = np.sqrt(mse)
r2 = r2_score(Y_like_test, posted_time_prediction)

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R²):", r2)

Mean Squared Error (MSE): 20.800068621629787
Root Mean Squared Error (RMSE): 4.560709223534185
R-squared (R²): -0.7485752673511119